html {
  font-size: 16px;
}
body {
  font-family: helvetica, sans-serif;
  background-color: #e4e4e4;
  overflow-x: hidden;
}

.background {
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  border-left: 1px solid rgba(245, 245, 245, 0.7);
  border-right: 1px solid rgba(245, 245, 245, 0.7);
}

.content {
  margin: 0 auto;
  max-width: 800px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1rem;
  color: rgb(72, 72, 72);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 50px;
  overflow-x: auto;
}
.image {
  width: 40%;
  border-radius: 15px;
}
#portrait {
  width: 70px;
  border-radius: 50%;
  margin-top: 20px;
  transition: width 0.3s ease-in-out;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 50px;
  font-size: 1.5rem;
  margin-bottom: 40px;
}
.social-icon {
  color: #959494;
  transition: all 200ms ease-in-out;
}
.social-icon:hover,
.social-icon:focus {
  color: #333433;
}
img:nth-of-type(1) {
  transform: rotate(2deg);
}
img:nth-of-type(2) {
  transform: rotate(-2deg);
}
img:nth-of-type(3) {
  transform: rotate(2deg);
}
img:nth-of-type(4) {
  transform: rotate(-2deg);
}
img:nth-of-type(5) {
  transform: rotate(2deg);
}
#title {
  font-size: 2rem;
}
.intro-paragraph {
  color: rgb(72, 72, 72);
  line-height: 2;
  max-width: 800px;
}
#niche h2 {
  margin-top: 50px;
}
.youtube-tip p {
  line-height: 2;
  color: rgb(72, 72, 72);
}
.youtube-link a {
  text-decoration: none;
  color: #1cc5a9;
}

.youtube-link a:hover {
  color: #1cc5a9;
  text-decoration: underline;
}

.inshot-link {
  text-decoration: none;
  color: #1cc5a9;
}
.inshot-link:hover {
  text-decoration: underline;
}

section#sign-off p {
  margin-top: 2.3em;
}

button#video-link {
  font-family: "Poppins", sans-serif;
  background-color: #5dbea3;
  font-size: 1em;
  border: solid 2px transparent;
  border-radius: 30px;
  padding: 1rem 2.4rem;
  margin-bottom: 2em;
  margin-top: 1em;
  transition: all 200ms ease-in-out;
}
button#video-link a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
#button-section {
  margin-top: 2rem;
  text-align: center;
}
button#video-link:hover {
  background-color: #dff4ee;
  border: #5dbea3 solid 2px;
  cursor: pointer;
}
button#video-link:hover a {
  color: #5dbea3;
  text-shadow: none;
}

@media screen and (max-width: 480px) {
  #portrait {
    width: 40px;
  }

  #title h1 {
    font-size: 1.2em;
  }
  .intro-paragraph p {
    margin-bottom: 1.2em;
  }

  .container {
    overflow-y: hidden;
  }

  .image {
    width: 100%;
  }

  #sign-off p {
    line-height: 2em;
  }

  
}
